:root {
  --primary-background-color: rgb(255, 255, 255);
  --secondary-background-color: rgb(245, 245, 246);
  --primary-text-color: rgb(43, 43, 43);
  --primary-branding-color: rgb(135, 115, 240);
  --light-primary-branding-color: rgb(135, 115, 240, 0.7);
  --transparent-primary-branding-color: rgb(135, 115, 240, 0.4);
  --primary-font-family: "Roboto Condensed", sans-serif;
  --buttons-font-family: "Montserrat", sans-serif;
}

body {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}

nav {
  padding: 20px 0px;
  align-items: flex-start;
}

.logo {
  max-width: 60px;
}

img.logo {
  margin-left: 0px;
  box-shadow: none;
}

nav ul {
  padding: 0px;
  padding-top: 10px;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}

nav a {
  color: var(--primary-text-color);
}

nav a:hover,
nav a.active {
  color: var(--primary-branding-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

section.intro {
  background-color: var(--secondary-background-color);
  padding: 48px;
  box-sizing: border-box;
}

.hero {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.hero h2 {
  font-size: 24px;
  margin: 0 auto;
  text-transform: uppercase;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
  color: var(--primary-branding-color);
}

.hero h3 {
  font-size: 20px;
  padding-bottom: 30px;
}

.hero p {
  font-size: 16px;
  margin-bottom: 100px;
}

.hero-buttons {
  flex-direction: row;
  justify-content: space-evenly;
}

.btn {
  font-family: var(--buttons-font-family);
  color: #ffff;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  border-radius: 50px;
  padding: 15px 30px;
  height: 45px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  color: var(--primary-text-color);
  background: var(--secondary-background-color);
  border-color: var(--primary-branding-color);
}

.primary-button-style {
  background: var(--primary-branding-color);
}

.primary-button-style:hover {
  border-color: var(--primary-branding-color);
}

.about-button {
  background: var(--light-primary-branding-color);
}

.about-button:hover {
  border-color: var(--light-primary-branding-color);
}

.work-button {
  background: var(--transparent-primary-branding-color);
}

.work-button:hover {
  border-color: var(--transparent-primary-branding-color);
}

.home-img {
  width: 70%;
}

main.recent-projects {
  margin-top: 32px;
  box-sizing: border-box;
}

h2.title {
  font-size: 50px;
  font-weight: 400px;
}
.rows h2 {
  font-size: 40px;
}
.recent-projects .row {
  background-color: rgb(252, 252, 252);
  align-items: center;
  justify-content: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  justify-content: space-between;
}

.rows h2 {
  margin-bottom: 40px;
}

.project-description p {
  margin-top: -20px;
  line-height: 25px;
}

.project-description a {
  margin-top: 30px;
}

.img-fluid {
  margin: auto;
  max-width: 80%;
}

img {
  display: block;
  margin: 0 auto;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}

@media (max-width: 1199px) {
  .project-description {
    padding: 20px 50px;
  }
}

@media (max-width: 1048px) {
  .hero h1 {
    font-size: 58px;
  }
}

@media (max-width: 1030px) {
  .hero h1 {
    font-size: 56px;
  }
}

@media (max-width: 992px) {
  .hero p {
    margin-bottom: 50px;
  }
  .project-description {
    text-align: center;
    padding: 20px 0px;
  }
  .project-description h2 {
    font-size: 35px;
  }
  .project-description p {
    font-size: 15px;
  }
  .project-description .btn {
    display: block;
    margin: 0 auto;
  }
  h2.title {
    font-size: 55px;
  }
}

@media (max-width: 767px) {
  h2.title {
    font-size: 42px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .hero-buttons {
    flex-direction: column;
    height: 200px;
    align-items: center;
  }
}

@media (max-width: 646px) {
  .hero h1 {
    font-size: 50px;
  }
  .intro h2 {
    font-size: 20px;
  }
  section.intro {
    padding: 20px;
  }
}

@media (max-width: 598px) {
  .hero {
    padding: 0px;
  }
  .hero h1 {
    font-size: 38px;
    line-height: 40px;
    padding: 10px 0px;
  }
  main.recent-projects {
    padding: 0px;
  }
}

section.about {
  padding: 0px 48px 48px 48px;
  margin-bottom: 55px;
  box-sizing: border-box;
}

.presentation-img {
  width: 70%;
}

.hero-about {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.hero-about h3 {
  font-size: 24px;
  margin: 0 auto;
  text-transform: uppercase;
}

.hero-about h1 {
  font-size: 60px;
  font-weight: bold;
  color: var(--primary-branding-color);
  text-transform: capitalize;
}

.hero-about h2 {
  font-size: 20px;
  padding-bottom: 15px;
}

.hero-about p {
  font-size: 16px;
  margin-bottom: 50px;
}

@media (max-width: 1030px) {
  .hero-about h1 {
    font-size: 56px;
  }
}

@media (max-width: 992px) {
  .hero-about h1 {
    font-size: 45px;
  }
  .hero-about h3 {
    font-size: 20px;
  }
  .hero-about h2 {
    margin-bottom: 0px;
  }
  .hero-about p {
    margin-bottom: 35px;
  }
}

@media (max-width: 832px) {
  section.about {
    margin-bottom: 45px;
  }
  .hero-about h1 {
    font-size: 40px;
  }
  .hero-about p {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .intro-col {
    text-align: center;
  }
  div.work .col-md-4 {
    margin-bottom: 50px;
  }
  .work a {
    width: auto;
    font-size: 12px;
  }
}

@media (max-width: 646px) {
  .hero-about h1 {
    font-size: 50px;
  }
  .hero-about h3 {
    font-size: 20px;
  }
}

@media (max-width: 598px) {
  .hero-about h1 {
    font-size: 45px;
    text-align: center;
  }
}

.work h1 {
  font-size: 50px;
  color: var(--primary-branding-color);
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}

section.work {
  padding-bottom: 48px;
}

section.work .container .row {
  flex-direction: row;
}

div.work .col-md-4 {
  flex-direction: column;
  align-items: center;
}

div.work img {
  margin-bottom: 35px;
}

div.work h3 {
  text-align: center;
  margin-bottom: 10px;
}

div.work p {
  width: 70%;
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width: 832px) {
  .work h1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  section.work .container .row {
    flex-direction: column;
  }
}

section.contact {
  text-align: center;
}

.contact-header,
p.location,
p.email a,
p.linkedin a {
  color: var(--primary-branding-color);
}

.contact-header {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 80px;
}

p.email a:hover,
p.linkedin a:hover {
  text-decoration: none;
}

footer {
  margin: 60px 0px;
}

footer .contact-box {
  background: var(--secondary-background-color);
  padding: 30px 120px;
  border-radius: 10px;
  align-items: center;
}

footer h4 {
  font-size: 48px;
}

footer .contact-box p {
  margin: 0px;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-branding-color);
}

footer .social-links a {
  margin: 0px 20px;
  font-size: 18px;
  color: var(--primary-branding-color);
  padding: 8px 12px;
  background: var(--secondary-background-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-branding-color);
}

footer a.open-sourced {
  color: var(--primary-branding-color);
}

@media (max-width: 790px) {
  div.contact-box {
    flex-direction: column;
  }
  div.contact-box .btn {
    margin-top: 30px;
  }
  div.contact-box div {
    text-align: center;
  }
}
